@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Config vars
$light-shades: #F6F6F9;
$light-accent: #B1ABEE;
$light-accent-darker: #2E22AA;
$brand-color: #461878;
$dark-accent: #332B2B;
$dark-shades: #2C2E3E;

$primary: $brand-color;
$primary-invert: #fff;
$body-color: #333;
$black: $dark-shades;
$link: $light-accent-darker;
$info: #00FF00;


@import "../../node_modules/bulma/bulma.sass";

// responsiveness
// +tablet-only
//   .blog-list-item .featured-thumbnail
//     flex-basis: 50%;

// +mobile
//   .blog-list-item header
//     display: block
//   .blog-list-item .featured-thumbnail
//     text-align: center;
//     max-width: 70%;
//     margin: 0 0 1em;
