@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// My brand colors
$light-shades: #f6f6f9;
$light-accent: #b1abee;
$light-accent-darker: #2e22aa;
$brand-color: #461878;
$dark-accent: #332b2b;
$dark-shades: #332b2b;

// Adjusting Bulma defaults
$primary: $brand-color;
$primary-invert: #fff;
$black: $dark-shades;
$link: $light-accent-darker;
$background: $light-shades;
$light: $light-shades;

// Navbar
$navbar-background-color: $light-shades;

// Footer
$footer-background-color: $dark-shades;
$footer-padding: 3rem 1.5rem 3rem;

.particles-background {
  position: fixed !important;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}

@import "../../node_modules/bulma/bulma.sass";