@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Fonts!
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:ital,wght@0,200;0,400;0,500;1,200;1,400;1,500&display=swap');
$family-primary: 'Inria Sans', sans-serif;
$family-secondary: 'Raleway', sans-serif;

// My brand colors
$light-shades: #f3f6f7;
$light-accent: #cda9ec;
// $light-accent: #9d84b3;
$brand-color: #7038a1;
// $brand-color: #2E4D2E;
$dark-accent: #80737b;
$dark-shades: #100817;

// Adjusting Bulma default colors
$primary: $brand-color;
$primary-invert: #fff;
$black: $dark-shades;
$white: $light-shades;
// $link: $light-accent-darker;
$background: $dark-shades;
$light: $light-accent;
$dark: $dark-accent;

// Navbar
$navbar-background-color: $black;
$navbar-burger-color: $light-accent;

// Footer
$footer-padding: 1rem 1.5rem 1rem;

@import "../../node_modules/bulma/bulma.sass";
